In [76]:
import pandas as pd
from collections import Counter
import matplotlib.pyplot as plt
import numpy as np

df= pd.read_csv("/home/danielgarcia/baby_shark_dooo_dooo/input/attacks.csv", encoding='latin-1')

In [77]:
df.count()

Case Number               8702
Date                      6302
Year                      6300
Type                      6298
Country                   6252
Area                      5847
Location                  5762
Activity                  5758
Name                      6092
Sex                       5737
Age                       3471
Injury                    6274
Fatal (Y/N)               5763
Time                      2948
Species                   3464
Investigator or Source    6285
pdf                       6302
href formula              6301
href                      6302
Case Number.1             6302
Case Number.2             6302
original order            6309
Unnamed: 22                  1
Unnamed: 23                  2
dtype: int64

In [78]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [80]:
df=df.rename(columns={'Species ': 'Species','Sex ': 'Sex','Fatal (Y/N)': 'Fatal'},)

In [81]:
df=df.reindex(['Species','Type','Activity','Injury','Fatal','Country','Area','Location','Sex','Age','Year'], axis='columns')
df=df.dropna()
df = df.round(decimals=0).astype(object)



df.head(200)

,Species,Type,Activity,Injury,Fatal,Country,Area,Location,Sex,Age,Year
0,White shark,Boating,Paddling,"No injury to occupant, outrigger canoe and pad...",N,USA,California,"Oceanside, San Diego County",F,57,2018
6,Tiger shark,Unprovoked,Swimming,FATAL,Y,BRAZIL,Pernambuco,"Piedade Beach, Recife",M,18,2018
7,"Lemon shark, 3'",Unprovoked,Fishing,Minor injury to foot. PROVOKED INCIDENT,N,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",M,52,2018
8,"Bull shark, 6'",Unprovoked,Walking,Lower left leg bitten,N,USA,Florida,"Cocoa Beach, Brevard County",M,15,2018
10,Grey reef shark,Provoked,Feeding sharks,Minor bite to hand by captive shark. PROVOKED ...,N,AUSTRALIA,Queensland,Cairns Aquarium,M,32,2018
...,...,...,...,...,...,...,...,...,...,...,...
490,Blacktip shark,Unprovoked,Surfing,Foot bitten,N,USA,Florida,"New Smyrna Beach, Volusia County",M,29,2014
492,Blacktip shark,Unprovoked,Surfing,Foot bitten,N,USA,Florida,"New Smyrna Beach, Volusia County",M,15,2014
495,8' to 10' shark,Unprovoked,Surfing,Lacerations to knee,N,USA,California,"Walls Beach, Vandenberg AFB, Santa Barbara County",M,28,2014
496,"2 white shark: 13' & 9""8""",Unprovoked,Surfing,"Left arm & right hand severed, lacerations to ...",N,AUSTRALIA,Western Australia,"Kelpids Beach, Wylie Bay, Esperance",M,23,2014
498,Blacktip shark,Unprovoked,Feeding fish,Thumb & finger nipped,N,FRENCH POLYNESIA,Moorea,Tiahura Lagoon,F,36,2014

In [82]:
df['Type'].value_counts()

Unprovoked      1624
Provoked         197
Boating           25
Invalid           11
Sea Disaster       7
Boat               1
Name: Type, dtype: int64

In [83]:
df['Age']=df['Age'].str.extract('(\d+)', expand=False)

In [84]:
df['Year']=df['Year'].dropna()
df['Age'] = pd.to_numeric(df['Age'])
df['Year'] = pd.to_numeric(df['Year'])
df['Age'].unique

<bound method Series.unique of 0       57.0
6       18.0
7       52.0
8       15.0
10      32.0
        ...
6226    19.0
6239    36.0
6242     6.0
6243    16.0
6265    13.0
Name: Age, Length: 1865, dtype: float64>

In [204]:
df.loc[df['Year'] ==0, 'Year'] = 2018 - df['Age']

In [191]:
df['Year'].value_counts()

2015.0    77
2012.0    61
2002.0    58
2007.0    58
2013.0    52
          ..
1906.0     1
1899.0     1
1880.0     1
1894.0     1
1919.0     1
Name: Year, Length: 110, dtype: int64

In [203]:
a=df['Year'].min() ,df['Year'].max()
print (f"El primer año con ataque registrado es {int(a[0])} y el ultimo es {int(a[1])}.")

El primer año con ataque registrado es 1868 y el ultimo es 2018.

In [87]:
'''df['Age'] = df['Age'].str.replace("13 OR","")
df['Age'] = df['Age'].str.replace("18 OR 20","20")
df['Age']=df['Age'].str.rstrip('S')
df['Age']=df['Age'].str.upper()
df['Age'] = df['Age'].str.replace("18 months","1")
df['Age'] = df['Age'].str.replace("TEEN","14")
df['Age'] = df['Age'].str.replace("28 &","")
df['Age'] = df['Age'].str.replace(" ","18")'''

'df[\'Age\'] = df[\'Age\'].str.replace("13 OR","")\ndf[\'Age\'] = df[\'Age\'].str.replace("18 OR 20","20")\ndf[\'Age\']=df[\'Age\'].str.rstrip(\'S\')\ndf[\'Age\']=df[\'Age\'].str.upper()\ndf[\'Age\'] = df[\'Age\'].str.replace("18 months","1")\ndf[\'Age\'] = df[\'Age\'].str.replace("TEEN","14")\ndf[\'Age\'] = df[\'Age\'].str.replace("28 &","")\ndf[\'Age\'] = df[\'Age\'].str.replace(" ","18")'

In [88]:
topty = 10
df['Type'].value_counts()[:topty].index.tolist()
#Eliminar invalid

['Unprovoked', 'Provoked', 'Boating', 'Invalid', 'Sea Disaster', 'Boat']

In [89]:
topac = 10
df['Country'].value_counts()[:topac].index.tolist()

['USA',
 'AUSTRALIA',
 'SOUTH AFRICA',
 'BAHAMAS',
 'NEW ZEALAND',
 'BRAZIL',
 'PAPUA NEW GUINEA',
 'REUNION',
 'MEXICO',
 'ITALY']

In [90]:
#df.plot.bar(y='Year', rot=0)
USA=df[df['Country']=='USA'].sort_values(by="Fatal")
USA

,Species,Type,Activity,Injury,Fatal,Country,Area,Location,Sex,Age,Year
0,White shark,Boating,Paddling,"No injury to occupant, outrigger canoe and pad...",N,USA,California,"Oceanside, San Diego County",F,57.0,2018.0
2381,6' shark,Unprovoked,Swimming,Leg bitten,N,USA,Florida,"Tiger Shores Beach, Martin County",F,10.0,1995.0
2382,"Tiger shark, 3.7 m [12']",Unprovoked,Swimming,Puncture wounds & scratches to torso & left leg,N,USA,Hawaii,"Opposite Grand Wailea Resort, Wailea, Maui",M,38.0,1995.0
2386,Possibly a bull shark,Unprovoked,Surfing,Left foot bitten,N,USA,Florida,"Vero Beach, Indian River County",M,15.0,1995.0
2414,2.7 m [9'] shark,Unprovoked,"Surfing, paddling seawards",Right thigh & board bitten,N,USA,Hawaii,"Off the Hanalei River, Kaua'i",F,34.0,1994.0
...,...,...,...,...,...,...,...,...,...,...,...
4399,"White shark,4.6 m [15']",Unprovoked,Body surfing & treading water,"FATAL, leg lacerated",Y,USA,California,"Pacific Grove, Monterey Bay, Monterey County",M,17.0,1952.0
4400,>6.7 m [22'] shark,Unprovoked,Swimming from fishing boat setting nets,"FATAL, left arm severed below the elbow",Y,USA,Hawaii,"Maile Beach, O'ahu",M,40.0,1952.0
728,"White shark, 15' to 16'",Unprovoked,Surfing,FATAL,Y,USA,California,"Surf Beach, Lompoc, Santa Barbara County",M,39.0,2012.0
4200,White shark,Unprovoked,Swimming,"FATAL, seen with arm in mouth of shark. Body n...",Y,USA,California,"Atascadero Beach, Morro Bay, San Luis Obispo C...",M,25.0,1957.0
3800,Unknown,Unprovoked,Surf fishing in waist-deep water,"FATAL, lower right leg bitten",Y,USA,Texas,"Off Andy Bowie Park, Padre Island, near Port I...",M,40.0,1962.0

In [91]:
df['Year'].value_counts()
df['Year'].min()

Rango_ataques=int(df['Year'].max()-df['Year'].min())
Rango_ataques
print(f'Han transcurrido {Rango_ataques} años entre el primer ataque registrado y el ultimo.')

Han transcurrido 150 años entre el primer ataque registrado y el ultimo.

In [92]:
Age_Mean=df["Age"].mean()
print(f"La edad media de los que han sufrido un ataque es de {Age_Mean}")

La edad media de los que han sufrido un ataque es de 28.22575431034483

In [206]:
def len_fa(df):
    return len(df[df['Fatal'] == 'N']),len(df[df['Fatal'] == 'Y'])
len_fa(df)
print(f"El numero total de supervivientes es de {len_fa(df)[0]} y de fallecidos es de {len_fa(df)[1]} .")

El numero total de supervivientes es de1575 y de fallecidos es de 287 .

In [215]:
pl=df.loc[(df['Fatal']=='N') & (df['Sex']=='M' ),['Fatal','Sex']]
(np.sum(depm, axis=1).tolist)
len(pl)
#EL numero de hombres muertos es de {len(dpm)}
print (f"EL numero de hombres vivos es de {len(pl)}")

EL numero de hombres vivos es de 1369

In [183]:
lmu=df.loc[(df['Fatal']=='N') & (df['Sex']=='F' ),['Fatal','Sex']]
np.sum(depmu, axis=1).tolist
len(lmu)
print (f"EL numero de mujeres vivas es de {len(lmu)}")
print(type)

EL numero de mujeres vivas es de 206

In [214]:
depm=df.loc[(df['Fatal']=='Y') & (df['Sex']=='M' ),['Fatal','Sex']]
(np.sum(depm, axis=1).tolist)
len(depm)
#EL numero de hombres muertos es de {len(dpm)}
print (f"EL numero de hombres muertos es de {len(depm)}")

EL numero de hombres muertos es de 245

In [217]:
depmu=df.loc[(df['Fatal']=='Y') & (df['Sex']=='F' ),['Fatal','Sex']]
np.sum(depmu, axis=1).tolist
len(depmu)
print (f"EL numero de mujeres muertas es de {len(depmu)}")

EL numero de mujeres muertas es de 42
Series([], dtype: float64)

In [211]:
Leth= (len(df[df['Fatal'] == 'Y'])*100/len(df[df['Fatal'] == 'N']))
Leth
#La letalidad de los ataques mostrados es de 18.22

18.22222222222222

In [212]:
def len_gen(df):
    return len(df[df['Sex'] == 'F']),len(df[df['Sex'] == 'M'])
len_gen(df)
print(f"EL numero de mujeres registradas es de {len_gen(df)[0]} y el de hombres es de {len_gen(df)[1]}")

EL numero de mujeres registradas es de 248 y el de hombres es de 1614

In [96]:
df['Species'].value_counts()
#df.Species.mode() dato mas frecuente
n = 10
df['Species'].value_counts()[:n].index.tolist()
#lista top ten bichos malos

['White shark',
 'Tiger shark',
 "4' shark",
 'Bull shark',
 "6' shark",
 "1.8 m [6'] shark",
 "1.2 m [4'] shark",
 "4' to 5' shark",
 "3' shark",
 "1.5 m [5'] shark"]

In [97]:
'''Checklist cosas a hacer:
importar la data V
entender la data
establecer un objetivo
limpiar la data
realizar calculos
refrendar o refutar la teoria
'''

'Checklist cosas a hacer:\nimportar la data V\nentender la data\nestablecer un objetivo\nlimpiar la data\nrealizar calculos\nrefrendar o refutar la teoria\n'

In [98]:
Sorted_by_activity=  df[["Country","Type","Activity",'Fatal']].sort_values(by="Activity")
Sorted_by_activity = Sorted_by_activity[Sorted_by_activity['Fatal'].notna()]
Sorted_by_activity.head(500)

,Country,Type,Activity,Fatal
2360,USA,Unprovoked,"""Riding waves on a board""",N
2929,AUSTRALIA,Sea Disaster,14 m prawn trawler New Venture capsized & san...,N
2344,AUSTRALIA,Unprovoked,Abalone diving using Hookah (near calving whales),Y
2345,USA,Unprovoked,Abalone diving using Hookah (resting on the su...,N
1294,AUSTRALIA,Provoked,Accidentally stood on hooked shark's tail befo...,N
...,...,...,...,...
1375,USA,Provoked,Reviving a sedated shark,N
2481,USA,Unprovoked,Riding floatation device,N
3813,USA,Unprovoked,Rolled off raft,N
451,AUSTRALIA,Boating,Rowing,N
1239,UNITED KINGDOM,Boating,Rowing an inflatable dinghy,N

In [99]:
df = df[df['Sex'] != "lli"]
df = df[df['Sex'] != "N"]

df = df[df['Fatal'] !='UNKNOWN']
df = df[df['Fatal'] !='2017']
df = df[df['Fatal'] !='M']

df['Fatal'] = df['Fatal'].str.replace(" ","")
LetGen=df[['Sex','Fatal']].sort_values(by="Sex")
LetGen = LetGen[LetGen['Fatal'].notna()]
LetGen= LetGen.drop(df.index[786])
LetGen = LetGen[LetGen['Sex'].notna()]
Show= LetGen.Fatal.unique()
Show

array(['N', 'Y'], dtype=object)

0       F
6       M
7       M
8       M
10      M
       ..
6226    M
6239    M
6242    M
6243    M
6265    M
Name: Sex, Length: 1862, dtype: object

In [178]:
depm=df.loc[(df['Fatal']=='Y') & (df['Sex']=='M' ),['Fatal','Sex']]
(np.sum(depm, axis=1).tolist)
s=len(depm)
#EL numero de hombres muertos es de {len(dpm)}
print (f"EL numero de hombres muertos es de {s}")

EL numero de hombres muertos es de 245

In [179]:
depmu=df.loc[(df['Fatal']=='Y') & (df['Sex']=='F' ),['Fatal','Sex']]
np.sum(depmu, axis=1).tolist
z=len(depmu)
print (f"EL numero de mujeres muertas es de {z}")

EL numero de mujeres muertas es de 42

In [103]:
def LethG(a,b,c,d):
    
    hm=0
    hv=0
    mm=0
    mv=0
    
    if i=='Y'and b=='M':
        hm +=1
    elif i=='Y' and b=='F':
        mv +=1
    elif i=='N' and b=='M':
        hv +=1
    else :
        mm +=1
        return hm,hv,mm,mv