In [14]:
import pandas as pd
from collections import Counter
import matplotlib.pyplot as plt
import numpy as np

df= pd.read_csv("/home/danielgarcia/baby_shark_dooo_dooo/input/attacks.csv", encoding='latin-1')

In [15]:
df.count()

Case Number               8702
Date                      6302
Year                      6300
Type                      6298
Country                   6252
Area                      5847
Location                  5762
Activity                  5758
Name                      6092
Sex                       5737
Age                       3471
Injury                    6274
Fatal (Y/N)               5763
Time                      2948
Species                   3464
Investigator or Source    6285
pdf                       6302
href formula              6301
href                      6302
Case Number.1             6302
Case Number.2             6302
original order            6309
Unnamed: 22                  1
Unnamed: 23                  2
dtype: int64

In [16]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [18]:
df=df.rename(columns={'Species ': 'Species','Sex ': 'Sex','Fatal (Y/N)': 'Fatal'},)

In [19]:
df=df.reindex(['Species','Type','Activity','Injury','Fatal','Country','Area','Location','Sex','Age','Year'], axis='columns')
df=df.dropna()
df = df.round(decimals=0).astype(object)
df.head(200)

,Species,Type,Activity,Injury,Fatal,Country,Area,Location,Sex,Age,Year
0,White shark,Boating,Paddling,"No injury to occupant, outrigger canoe and pad...",N,USA,California,"Oceanside, San Diego County",F,57,2018
6,Tiger shark,Unprovoked,Swimming,FATAL,Y,BRAZIL,Pernambuco,"Piedade Beach, Recife",M,18,2018
7,"Lemon shark, 3'",Unprovoked,Fishing,Minor injury to foot. PROVOKED INCIDENT,N,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",M,52,2018
8,"Bull shark, 6'",Unprovoked,Walking,Lower left leg bitten,N,USA,Florida,"Cocoa Beach, Brevard County",M,15,2018
10,Grey reef shark,Provoked,Feeding sharks,Minor bite to hand by captive shark. PROVOKED ...,N,AUSTRALIA,Queensland,Cairns Aquarium,M,32,2018
...,...,...,...,...,...,...,...,...,...,...,...
490,Blacktip shark,Unprovoked,Surfing,Foot bitten,N,USA,Florida,"New Smyrna Beach, Volusia County",M,29,2014
492,Blacktip shark,Unprovoked,Surfing,Foot bitten,N,USA,Florida,"New Smyrna Beach, Volusia County",M,15,2014
495,8' to 10' shark,Unprovoked,Surfing,Lacerations to knee,N,USA,California,"Walls Beach, Vandenberg AFB, Santa Barbara County",M,28,2014
496,"2 white shark: 13' & 9""8""",Unprovoked,Surfing,"Left arm & right hand severed, lacerations to ...",N,AUSTRALIA,Western Australia,"Kelpids Beach, Wylie Bay, Esperance",M,23,2014
498,Blacktip shark,Unprovoked,Feeding fish,Thumb & finger nipped,N,FRENCH POLYNESIA,Moorea,Tiahura Lagoon,F,36,2014

In [21]:
df['Age']=df['Age'].str.extract('(\d+)', expand=False)

In [22]:
df['Year']=df['Year'].dropna()
df['Age'] = pd.to_numeric(df['Age'])
df['Year'] = pd.to_numeric(df['Year'])
df['Age'].unique
df.loc[df['Year'] ==0, 'Year'] = 2018 - df['Age']

<bound method Series.unique of 0       57.0
6       18.0
7       52.0
8       15.0
10      32.0
        ...
6226    19.0
6239    36.0
6242     6.0
6243    16.0
6265    13.0
Name: Age, Length: 1865, dtype: float64>

In [24]:
df['Year'].value_counts()

2015.0    77
2012.0    62
2002.0    58
2007.0    58
2013.0    52
          ..
1906.0     1
1899.0     1
1880.0     1
1894.0     1
1919.0     1
Name: Year, Length: 110, dtype: int64

In [25]:
a=df['Year'].min() ,df['Year'].max()
print (f"El primer año con ataque registrado es {int(a[0])} y el ultimo es {int(a[1])}.")

El primer año con ataque registrado es 1868 y el ultimo es 2018.

In [50]:
df.drop(df.loc[df['Type']=='Invalid'].index, inplace=True)

In [51]:
#df.plot.bar(y='Year', rot=0)
USA=df[df['Country']=='USA'].sort_values(by="Fatal")
USA

,Species,Type,Activity,Injury,Fatal,Country,Area,Location,Sex,Age,Year
0,White shark,Boating,Paddling,"No injury to occupant, outrigger canoe and pad...",N,USA,California,"Oceanside, San Diego County",F,57.0,2018.0
2381,6' shark,Unprovoked,Swimming,Leg bitten,N,USA,Florida,"Tiger Shores Beach, Martin County",F,10.0,1995.0
2382,"Tiger shark, 3.7 m [12']",Unprovoked,Swimming,Puncture wounds & scratches to torso & left leg,N,USA,Hawaii,"Opposite Grand Wailea Resort, Wailea, Maui",M,38.0,1995.0
2386,Possibly a bull shark,Unprovoked,Surfing,Left foot bitten,N,USA,Florida,"Vero Beach, Indian River County",M,15.0,1995.0
2414,2.7 m [9'] shark,Unprovoked,"Surfing, paddling seawards",Right thigh & board bitten,N,USA,Hawaii,"Off the Hanalei River, Kaua'i",F,34.0,1994.0
...,...,...,...,...,...,...,...,...,...,...,...
4399,"White shark,4.6 m [15']",Unprovoked,Body surfing & treading water,"FATAL, leg lacerated",Y,USA,California,"Pacific Grove, Monterey Bay, Monterey County",M,17.0,1952.0
4400,>6.7 m [22'] shark,Unprovoked,Swimming from fishing boat setting nets,"FATAL, left arm severed below the elbow",Y,USA,Hawaii,"Maile Beach, O'ahu",M,40.0,1952.0
3011,Said to involve a tiger shark or a hammerhead ...,Unprovoked,Swimming,"FATAL, right calf bitten",Y,USA,Florida,"Tampa Bay, Manatee County",M,26.0,1981.0
3753,"Hand found in gut of 2.9 m to 3.3 m [9'7"" to 1...",Unprovoked,Swimming,"FATAL, hand severed, shoulder, hip, foot, thig...",Y,USA,US Virgin Islands,"St. Thomas, Magens Bay",M,25.0,1963.0
2150,Tiger shark,Unprovoked,Swimming,FATAL,Y,USA,Florida,"Ocean Beach, Jaycee Park, Vero Beach, Indian R...",M,9.0,1998.0

In [52]:
df['Year'].value_counts()
df['Year'].min()
Rango_ataques=int(df['Year'].max()-df['Year'].min())
Rango_ataques
print(f'Han transcurrido {Rango_ataques} años entre el primer ataque registrado y el ultimo.')

Han transcurrido 150 años entre el primer ataque registrado y el ultimo.

In [53]:
Age_Mean=df["Age"].mean()
print(f"La edad media de los que han sufrido un ataque es de {Age_Mean}")

La edad media de los que han sufrido un ataque es de 28.184823848238484

In [54]:
a=df.loc[(df['Fatal']=='N') & (df['Sex']=='M' )& (df['Age']),['Fatal','Sex','Age']]
b=df.loc[(df['Fatal']=='N') & (df['Sex']=='F' )& (df['Age']),['Fatal','Sex','Age']]
c=df.loc[(df['Fatal']=='Y') & (df['Sex']=='M' )& (df['Age']),['Fatal','Sex','Age']]
d=df.loc[(df['Fatal']=='Y') & (df['Sex']=='F' )& (df['Age']),['Fatal','Sex','Age']]
print (f"La edad maxima registrada del superviviente masculino es de: {a['Age'].max()}, la de las mujeres supervivientes es de: {b['Age'].max()}\n por otro lado la del fallecido masculino mas adulto de: {c['Age'].max()} y la de la mujer fallecida es de: {d['Age'].max()}")


print (f"La edad minima registrada del superviviente masculino es de: {a['Age'].min()}), la de las mujeres supervivientes es de: {b['Age'].min()}\n por otro lado la del fallecido masculino mas joven de: {c['Age'].min()} y la de la mujer fallecida es de: {d['Age'].min()}")



print (f'La edad media de supervivientes masculinos es de: {a.mean()}, la de las mujeres es de : {b.mean()}, por otro lado, la edad media de los fallecidos masculinos era de: {c.mean()} y la de las mujeres de: {d.mean()}')

La edad maxima registrada del superviviente masculino es de: 73.0, la de las mujeres supervivientes es de: 70.0
 por otro lado la del fallecido masculino mas adulto de: 84.0 y la de la mujer fallecida es de: 77.0
La edad minima registrada del superviviente masculino es de: 5.0), la de las mujeres supervivientes es de: 6.0
 por otro lado la del fallecido masculino mas joven de: 7.0 y la de la mujer fallecida es de: 7.0
La edad media de supervivientes masculinos es de: Age    28.312915
dtype: float64, la de las mujeres es de : Age    27.574257
dtype: float64, por otro lado, la edad media de los fallecidos masculinos era de: Age    27.295833
dtype: float64 y la de las mujeres de: Age    30.97619
dtype: float64

In [55]:
print (f" La edad maxima de los atacados es de {df['Age'].max()} y la minima de {df['Age'].min()}")

 La edad maxima de los atacados es de 84.0 y la minima de 5.0

In [56]:
def len_fa(df):
    return len(df[df['Fatal'] == 'N']),len(df[df['Fatal'] == 'Y'])
print(len_fa(df))
print(f"El numero total de supervivientes es de {len_fa(df)[0]} y de fallecidos es de {len_fa(df)[1]} .")

(1566, 283)
El numero total de supervivientes es de 1566 y de fallecidos es de 283 .

In [57]:
def len_gen(df):
    return len(df[df['Sex'] == 'F']),len(df[df['Sex'] == 'M'])
len_gen(df)
print(f"EL numero de mujeres registradas es de {len_gen(df)[0]} y el de hombres es de {len_gen(df)[1]}.")

EL numero de mujeres registradas es de 246 y el de hombres es de 1607.

In [58]:
pl=df.loc[(df['Fatal']=='N') & (df['Sex']=='M' ),['Fatal','Sex']]
(np.sum(pl, axis=1).tolist)
len(pl)
#EL numero de hombres muertos es de {len(dpm)}
print (f"EL numero de hombres vivos es de {len(pl)}.")

EL numero de hombres vivos es de 1361.

In [59]:
lmu=df.loc[(df['Fatal']=='N') & (df['Sex']=='F' ),['Fatal','Sex']]
np.sum(lmu, axis=1).tolist
len(lmu)
print (f"EL numero de mujeres vivas es de {len(lmu)}")

EL numero de mujeres vivas es de 204

In [60]:
depm=df.loc[(df['Fatal']=='Y') & (df['Sex']=='M' ),['Fatal','Sex']]
(np.sum(depm, axis=1).tolist)
len(depm)
#EL numero de hombres muertos es de {len(dpm)}
print (f"EL numero de hombres muertos es de {len(depm)}")

EL numero de hombres muertos es de 241

In [61]:
depmu=df.loc[(df['Fatal']=='Y') & (df['Sex']=='F' ),['Fatal','Sex']]
np.sum(depmu, axis=1).tolist
len(depmu)
print (f"EL numero de mujeres muertas es de {len(depmu)}")

EL numero de mujeres muertas es de 42

In [62]:
Leth= (len(df[df['Fatal'] == 'Y'])*100/len(df[df['Fatal'] == 'N']))
Leth
#La letalidad de los ataques mostrados es de 18.22

18.071519795657725

In [63]:
SuPr=df.loc[(df['Fatal']=='N') & (df['Type']=='Provoked' ),['Fatal','Type']]
LePr=df.loc[(df['Fatal']=='Y') & (df['Type']=='Provoked' ),['Fatal','Type']]
SuPr.size, LePr.size, df['Type'].size
tnp=(df['Type'].size)- (SuPr.size+LePr.size)
print (f'El total de casos provocados es de {SuPr.size+LePr.size} y el de casos no provocados: {tnp}, de los cuales solo {LePr.size} han sido provocados y mortales.')
#ataques provocados y letalidad

El total de casos provocados es de 390 y el de casos no provocados: 1464, de los cuales solo 4 han sido provocados y mortales.

In [71]:
df['Type'].value_counts()

Unprovoked      1624
Provoked         197
Boating           25
Sea Disaster       7
Boat               1
Name: Type, dtype: int64

In [65]:
print(df['Country'].value_counts())

print(df['Type'].value_counts())

USA                               826
AUSTRALIA                         432
SOUTH AFRICA                      247
BAHAMAS                            33
NEW ZEALAND                        31
                                 ...
NEW GUINEA                          1
BRITISH ISLES                       1
ISRAEL                              1
GRAND CAYMAN                        1
FEDERATED STATES OF MICRONESIA      1
Name: Country, Length: 80, dtype: int64
Unprovoked      1624
Provoked         197
Boating           25
Sea Disaster       7
Boat               1
Name: Type, dtype: int64

In [66]:
df['Species'].value_counts()
#df.Species.mode() dato mas frecuente
n = 10
df['Species'].value_counts()[:n].index.tolist()
#lista top ten bichos malos

['White shark',
 'Tiger shark',
 "4' shark",
 'Bull shark',
 "6' shark",
 "1.8 m [6'] shark",
 "1.2 m [4'] shark",
 "4' to 5' shark",
 "3' shark",
 "1.5 m [5'] shark"]

In [44]:
tico=  df[["Country","Species",'Fatal']].sort_values(by="Species")
a=tico.loc[(tico['Fatal']=='Y') & (tico['Country']=='USA' )& (tico['Species']),['Country','Species','Fatal']]
a['Species'].unique

<bound method Series.unique of 1574                                1.8 m [6'] bull shark
5223                                     1.8 m [6'] shark
2716                                 3 m [10'] bull shark
5305                                      3 m [10'] shark
5571                                      3 m [10'] shark
4370                     3 m [10'] shark seen in vicinity
2343                 3 m to 3.7 m [10' to 12'] bull shark
4070                                    3.7 m [12'] shark
3264                                   3.7 m [12'] sharks
2884                             4.5 m to 5 m white shark
1750              4.5 m to 5.5 m [15' to 18'] white shark
1645              4.9 m to 5.5 m [16' to 18'] white shark
2696                              5 m [16.5'] white shark
2411              5 m to 5.5 m [16.5' to 18'] white shark
2999                                7 m [23'] white shark
4400                                  >6.7 m [22']  shark
1907    A large white shark was filmed by divers on a ...
3753    Hand found in gut of 2.9 m to 3.3 m [9'7" to 1...
1843                                  Mako shark, 400-lb
4570                                   Possibly C. leucas
4968                 Possibly a bull shark or tiger shark
4091    Reported to involve a White shark, 6 m to 7m [...
3011    Said to involve a tiger shark or a hammerhead ...
5311        Thought to involve a 2.6 m [8.5'] white shark
2019    Thought to involve a 2.7 m [9'], 400-lb bull s...
1680                                          Tiger shark
2150                                          Tiger shark
2574               Tiger shark, 2.4 m 3.4 m [8' to 11']
2526              Tiger shark, 3 m to 3.7 m [10' to 12']
4130            Tiger shark, 4.6 m to 7.6 m [15' to 25']
639                                          Tiger shark?
3800                                              Unknown
4194                                          White shark
4200                                          White shark
4874          White shark (identified by Dr. Hugh Smith)
1268                              White shark, 12' to 15'
978                              White shark, 14' to 18'
728                              White shark, 15' to 16'
4095    White shark, 3 m [10']; identifed by Dr. W.I. ...
4399                             White shark,4.6 m [15']
1910                                           bull shark
3263                                        small sharks'
Name: Species, dtype: object>

In [48]:
coty=  df[["Country","Type",'Fatal']].sort_values(by="Country")
# Relacionar tipo de bicho con los mas letales y paises mas afectados.
a=coty.loc[(coty['Fatal']=='Y') & (coty['Country']=='USA' )& (coty['Type']=='Unprovoked'),['Country','Type','Fatal']]
a.size

120

In [46]:
'''Checklist cosas a hacer:
importar la data V
entender la data
establecer un objetivo
limpiar la data
realizar calculos
refrendar o refutar la teoria
'''

'Checklist cosas a hacer:\nimportar la data V\nentender la data\nestablecer un objetivo\nlimpiar la data\nrealizar calculos\nrefrendar o refutar la teoria\n'

In [47]:
'''df = df[df['Sex'] != "lli"]
df = df[df['Sex'] != "N"]

df = df[df['Fatal'] !='UNKNOWN']
df = df[df['Fatal'] !='2017']
df = df[df['Fatal'] !='M']

df['Fatal'] = df['Fatal'].str.replace(" ","")
LetGen=df[['Sex','Fatal']].sort_values(by="Sex")
LetGen = LetGen[LetGen['Fatal'].notna()]
LetGen= LetGen.drop(df.index[786])
LetGen = LetGen[LetGen['Sex'].notna()]
Show= LetGen.Fatal.unique()
Show'''

'df = df[df[\'Sex\'] != "lli"]\ndf = df[df[\'Sex\'] != "N"]\n\ndf = df[df[\'Fatal\'] !=\'UNKNOWN\']\ndf = df[df[\'Fatal\'] !=\'2017\']\ndf = df[df[\'Fatal\'] !=\'M\']\n\ndf[\'Fatal\'] = df[\'Fatal\'].str.replace(" ","")\nLetGen=df[[\'Sex\',\'Fatal\']].sort_values(by="Sex")\nLetGen = LetGen[LetGen[\'Fatal\'].notna()]\nLetGen= LetGen.drop(df.index[786])\nLetGen = LetGen[LetGen[\'Sex\'].notna()]\nShow= LetGen.Fatal.unique()\nShow'